.App {
  text-align: center;
}


body{
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}


#swal2-title {
  font-size: 1.6rem !important;
  font-family: 'Helvetica', serif;
}

#swal2-html-container {
  font-family: 'Helvetica', serif;
}

